<div class="container auth-container">
    <mat-card class="auth-card">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [selectedIndex]="showLogin ? 0 : 1"
            (selectedIndexChange)="tabChanged($event)">
            <mat-tab label="Login">
                @if (showLogin) {
                    <app-login [returnUrl]="returnUrl"></app-login>
                }
            </mat-tab>
            <mat-tab label="Register">
                @if (!showLogin) {
                    <app-register (registered)="showLogin = true"></app-register>
                }
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>